/*******************************************************************************
 * Themes
 ******************************************************************************/

:root {
  --global-bg-color: #{$white-color};
  --global-text-color: #{$black-color};
  --global-theme-color: #{$orange-color-burnt};
  --global-theme-color-contrast: #{$cyan-color};
  --global-theme-color-contrast2: #{$light-cyan-color};
  --global-theme-color-contrast3: #{$blue-color};
  --global-hover-color: #{$orange-color-burnt};
  --global-footer-bg-color: #{$grey-color-dark};
  --global-footer-text-color: #{$grey-color-light};
  --global-footer-link-color: #{$white-color};
  --global-icon-color: #{$grey-color-dark};

  .fa-sun {
    display : none;
  }
  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
}

html[data-theme='dark'] {
  --global-bg-color: #{$grey-color-dark};
  --global-text-color: #{$grey-color-light};
  --global-theme-color: #{$cyan-color};
  --global-hover-color: #{$light-cyan-color};
  --global-footer-bg-color: #{$grey-color-light};
  --global-footer-text-color: #{$grey-color-dark};
  --global-footer-link-color: #{$black-color};
  --global-icon-color: navajowhite;

  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
  .fa-moon {
    display : none;
  }
}
